html {
  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background-clr: #c5e4e7;
  --accent-clr: #00474b;
  --font-family: "Inter", serif;
}

body {
  background-color: var(--background-clr);
}

/* style for remove google icon. */
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
/* *** */

section {
  margin-inline: auto;
  margin-block-start: 2rem;
  max-width: 400px;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
}

@media (max-width: 400px) {
  section {
    margin-block-start: unset;
    margin: 1rem;
  }
}

form {
  display: grid;
  grid-template-columns: 0 0.7fr 0.3fr;
  margin-block-end: 1rem;
}

form > input {
  width: 100%;
  padding: 1rem;
  background-color: var(--background-clr);
  border-style: unset;
  font-family: var(--font-family);
  font-weight: 600;
  border-radius: 0.5rem 0 0 0.5rem;
}

form > input:focus {
  outline: none;
  border: 2px solid var(--accent-clr);
}

form > button {
  width: 100%;
  background-color: var(--accent-clr);
  color: whitesmoke;
  border-style: unset;
  font-size: 1.4rem;
  font-family: var(--font-family);
  border-radius: 0 0.5rem 0.5rem 0;
}

.checkbox {
  appearance: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--accent-clr);
  border-radius: 50%;
}

.checkbox:checked {
  border: 2px solid var(--background-clr);
  background-color: var(--accent-clr);
}

.checkbox:checked + p {
  text-decoration: line-through;
}

ul {
  list-style: none;
}

ul > li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--background-clr);
  padding: 1rem 0;
}

ul > li > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

ul > li > div > p {
  font-size: 1.6rem;
  font-family: var(--font-family);
}

ul > li > button {
  cursor: pointer;
  border-style: unset;
  background-color: unset;
  color: var(--accent-clr);
}
